.container {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.page.container {
  margin-top: 100px;
  margin-bottom: 100px;
}
